<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/edit" method="post" enctype="multipart/form-data">
        <div>
            <label for="name">Movie name</label>
            <input type="text" id="name" placeholder="Movie Name"
                value="<%= items.name %>" name="name" required>
        </div>
        <div>
            <label for="catog">Catogory</label>
            <input type="text" id="catog" placeholder="Enter Catogory"
                value="<%= items.catog %>" name="catog" required>
        </div>
        <div>
            <label for="rating">Rating</label>
            <input type="number" id="rating" placeholder="enter rating"
                value="<%= items.rating %>" name="rating" required>
        </div>
        <div>
            <label for="votes">votes</label>
            <input type="number" id="votes" placeholder="enter votes"
                value="<%= items.votes %>" name="votes" required>
        </div>
        <div>
            <label for="rdate">Relase date</label>
            <input type="date" id="rdate" placeholder="release date"
                value="<%= items.rdate %>" name="rdate" required>
        </div>
        <div>
            <label for="desc">Image Description</label>
            <input id="desc" name="desc" value="<%= items.desc %>"
                    placeholder="Description" required>
            </input>
        </div>
        <div>
            <label for="image">Upload Image</label>
            <input type="file" id="image"
                name="image" value="" required>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>