<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Movie Dashboard</title>
	<style>
		input[type=text],
		select {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
		}

		input[type=number],
		select {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
		}

		input[type=submit] {
			width: 100%;
			background-color: #4CAF50;
			color: white;
			padding: 14px 20px;
			margin: 8px 0;
			border: none;
			border-radius: 4px;
			cursor: pointer;
		}

		input {
			width: 25%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
		}

		input[type=submit]:hover {
			background-color: #45a049;
		}

		div {
			border-radius: 5px;
			background-color: #f2f2f2;
			padding: 20px;
		}

		table {
			border-collapse: collapse;
			width: 90%;
			align-items: center;
			margin-left: 70px;
		}

		th,
		td {
			text-align: left;
			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #f2f2f2
		}

		th {
			height: 70px;
			background-color: #04AA6D;
			color: white;
			width: 100px;
		}

		tr {
			width: 150px;

		}
	</style>
</head>

<body>

	<h1>Add movies to display</h1>
	<hr>
	<div>
		<form action="/create" method="POST" id="update_movie" enctype="multipart/form-data">

			<label for="name">Movie name</label>
			<input type="text" id="name" placeholder="Movie Name" value="" name="name" required>


			<label for="catog">Catogory</label>
			<input type="text" id="catog" placeholder="Enter Catogory" value="" name="catog" required>

			<label for="subcatogory">Choose a subcatogory:</label>
			<select name="subcatogory" id="subcatogory">
				<option value="movies">movies</option>
				<option value="series">series</option>
			</select>

			<label for="rating">Rating</label>
			<input type="number" id="rating" placeholder="enter rating" value="" name="rating" required>


			<label for="votes">votes</label>
			<input type="number" id="votes" placeholder="enter votes" value="" name="votes" required>


			<label for="rdate">Relase date</label>
			<input type="date" id="rdate" placeholder="release date" value="" name="rdate" required>


			<label for="desc">Image Description</label>
			<textarea id="desc" name="desc" value="" placeholder="Description" required>
				</textarea>


			<label for="image">Upload Image</label>
			<input type="file" id="image" name="image" value="" required>


			<button type="submit">Submit</button>

		</form>
	</div>

	<hr>

	<h1>Uploaded Movies</h1>

	<table>
		<tr>
			<th>Name</th>
			<th>Catogory</th>
			<th>subcatogory</th>
			<th>release-date</th>
			<th>rating</th>
			<th>votes</th>
			<th>Description</th>
			<th>Image</th>
			<th>Update</th>
			<th>delete</th>
		</tr>
		<% items.forEach(function(image) { %>


			<tr>
				<td>
					<%= image.name %>
				</td>
				<td>
					<%= image.catog %>
				</td>
				<td>
					<%= image.subcatogory %>
				</td>
				<td>
					<%= image.rdate %>
				</td>
				<td>
					<%= image.rating %>
				</td>
				<td>
					<%= image.votes %>
				</td>
				<td>
					<%= image.desc %>
				</td>
				<td><img style="width: 50px;" src="data:image/<%=image.img.contentType%>;base64,
                        <%=image.img.data.toString('base64')%>"></td>
				<td>
					<a href="../edit/<%= image._id%>">edit</a>
				</td>
				<td>
					<a href="../delete/<%= image._id%>">delete</a>
				</td>





			</tr>
			<% }) %>
	</table>




</body>

</html>